<%- include("partials/header") %> 


<div class="compose">
    <h1>Compose Item</h1>


<div class="container">
    <form action="/shop-item" method="post">
        <div class="form-group">
        <div class="container-item">
                    <label for="itemName">Item Name</label>
                    <input class="form-control" type="text" name="itemName">
                </div>
                <div class="container-item">
                    <label for="price">Price</label>
                    <input class="form-control" type="text" name="price">
                </div>
                <div class="container-item">
                    <label for="brand">Brand</label>
                    <input class="form-control" type="text" name="brand">
                </div>
                <div class="container-item">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" name="description">
                </div>
                <div class="container-item">
                    <label for="color">Color</label>
                    <input class="form-control" type="text" name="color">
                </div>
                <div class="container-item">
                    <label for="specification">Specification</label>
                    <input class="form-control" type="text" name="specification">
                </div>
                <button class="btn btn-lg btn-primary" type="submit" name="button">Store</button>
        </div>
        
    </form>
</div>


</div>

































<%- include("partials/footer") %> 